In [48]:
import pandas as pd

- `results.csv` joins `races.csv` to get `year`
- `results.csv` joins `drivers.csv` to get `driver`
- `results.csv` joins `constructors.csv` to get `constructor`
- `results.csv` joins `pitStops.csv` to get `duration`

In [49]:
results = pd.read_csv('data/results.csv')
results = results[['raceId', 'driverId', 'constructorId', 'position', 'rank']]

races = pd.read_csv('data/races.csv')
races = races[['raceId', 'year']]

drivers = pd.read_csv('data/drivers.csv')
drivers = drivers[['driverId', 'driverRef']]
    
constructors = pd.read_csv('data/constructors.csv')
constructors = constructors[['constructorId', 'constructorRef']]

pitstops = pd.read_csv('data/pit_stops.csv')
pitstops = pitstops[['raceId', 'driverId', 'stop', 'duration', 'milliseconds']]

In [50]:
results = results.merge(drivers, on='driverId', how='left')
results = results.merge(constructors, on='constructorId', how='left')
results = results.merge(races, on='raceId', how='left')
results = results.merge(pitstops, on=['raceId', 'driverId'], how='left')

In [51]:
results

,raceId,driverId,constructorId,position,rank,driverRef,constructorRef,year,stop,duration,milliseconds
0,18,1,1,1,2,hamilton,mclaren,2008,NaN,NaN,NaN
1,18,2,2,2,3,heidfeld,bmw_sauber,2008,NaN,NaN,NaN
2,18,3,3,3,5,rosberg,williams,2008,NaN,NaN,NaN
3,18,4,4,4,7,alonso,renault,2008,NaN,NaN,NaN
4,18,5,1,5,1,kovalainen,mclaren,2008,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
30768,1096,825,210,17,20,kevin_magnussen,haas,2022,1.0,22.387,22387.0
30769,1096,1,131,18,11,hamilton,mercedes,2022,1.0,21.270,21270.0
30770,1096,849,3,19,14,latifi,williams,2022,1.0,22.423,22423.0
30771,1096,849,3,19,14,latifi,williams,2022,2.0,25.174,25174.0
30772,1096,4,214,\N,17,alonso,alpine,2022,1.0,21.740,21740.0

In [52]:
columns = ['year', 'driverRef', 'constructorRef', 'position', 'rank', 'stop', 'duration', 'milliseconds']

In [53]:
results[columns].to_csv('df.csv', index=False)